[user]
	name = Jim Barritt
	email = jimb@thoughtworks.com
        signingkey = 42A0F567
        
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto

[alias]
        sm = submodule
	st = status
	br = branch
        serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
        
        lol = log --format='* %C(yellow) %h %Creset %<(15)%an %<(12)%cd %<(50,trunc)%s %GK' --date=format:'%y-%m-%d %H:%M' -15
        
[push]
	default = matching

[core]
        pager = $(brew --prefix git)/share/git-core/contrib/diff-highlight/diff-highlight
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = !aws codecommit credential-helper $@
	UseHttpPath = true
[pager]
        branch = false
	log = false
