*~

.bashrc_workstation

Applications
Dropbox
Music
Snapshots
local-apache-ssl
tmp
Desktop
Library
Pictures
VagrantBoxes
docbook-xsl
money
github
work
Documents
Mail
Public
VirtualBox\ VMs
emacs
sukrupa
Downloads
Movies
Sites
github

.Business Everywhere/
.CFUserTextEncoding
.DS_Store
.Orange Mobile Broadband/
.RSA/
.Rapp.history
.Rhistory
.Trash/
.Xauthority
.active.document
.adobe/
.anyconnect
.bash_history
.cabal/
.clojure/
.cpan/
.cups/
.dbshell
.dropbox/
.ecb-tip-of-day.el
.emacs
.emacs.before_ecb_2.40
.emacs.d.starter.kit/
.emacs.d/
.eshell/
.fontconfig/
.gem/
.go/
.gradle/
.heroku/
.hgrc
.ido.last
.ido.last~
.ivy2/
.jabref/
.java_history
.jline-clojure.main.history
.keystore
.lein/
.lesshst
.links/
.local/
.lrpass
.m2/
.nchsoftware/
.netrc
.pallet/
.pip/
.profile
.pylint.d/
.recentf
.rnd
.rstudio-desktop/
.rvm/
.rvmrc
.sahi-server.pid
.sbt/
.scala_history
.semanticdb/
.serverauth.12630
.sh_history
.slime-history.eld
.sqldeveloper/
.srecode/
.ssh/
.subversion/
.subversion_IDEA/
.sukrupa/
.vagrant.d/
.viminfo
.webserver.example-app-2.pid
.webserver.landregistry-app.pid
.yjp/